<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dartmedia.iotinfusionmonitoringapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IoTInfusionMonitoringApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.activity.form.FormPatientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".presentation.activity.SetDeviceWifiActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IoTInfusionMonitoringApp.NoActionBar" />
        <activity
            android:name=".presentation.activity.detaildevice.DetailDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IoTInfusionMonitoringApp.NoActionBar" />
        <activity
            android:name=".presentation.activity.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IoTInfusionMonitoringApp.NoActionBar" />
        <activity
            android:name=".presentation.activity.ScannerQRActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IoTInfusionMonitoringApp.NoActionBar" />
        <activity
            android:name=".presentation.activity.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IoTInfusionMonitoringApp.NoActionBar" />
        <activity
            android:name=".presentation.activity.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.IoTInfusionMonitoringApp.NoActionBar" />
        <activity
            android:name=".presentation.activity.splash.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IoTInfusionMonitoringApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>